# Don't track contents of these folders

LibraryEnterprise/.vs
LibraryEnterprise/.vs/LibraryEnterprise/v15/.suo
LibraryEnterprise/.vs/LibraryEnterprise/v15/Server/sqlite3/storage.ide-shm
LibraryEnterprise/.vs/LibraryEnterprise/v15/Server/sqlite3/storage.ide-shm
LibraryEnterprise/LibraryEnterprise/obj/Debug/LibraryEnterprise.pdb
LibraryEnterprise/LibraryEnterprise/obj/Debug/LibraryEnterprise.dll
LibraryEnterprise/LibraryEnterprise/obj/Debug/LibraryEnterprise.csprojAssemblyReference.cache
LibraryEnterprise/LibraryEnterprise/obj/Debug/LibraryEnterprise.csproj.FileListAbsolute.txt
LibraryEnterprise/LibraryEnterprise/obj/Debug/LibraryEnterprise.csproj.CoreCompileInputs.cache
LibraryEnterprise/LibraryEnterprise/modify_books.aspx.cs
LibraryEnterprise/LibraryEnterprise/modify_books.aspx
LibraryEnterprise/LibraryEnterprise/bin/LibraryEnterprise.pdb
LibraryEnterprise/LibraryEnterprise/bin/LibraryEnterprise.dll
LibraryEnterprise/LibraryEnterprise.sln
LibraryEnterprise/EncryptionService/Web.Release.config
LibraryEnterprise/EncryptionService/Web.Debug.config
LibraryEnterprise/EncryptionService/Web.config
LibraryEnterprise/EncryptionService/Properties/AssemblyInfo.cs
LibraryEnterprise/EncryptionService/packages.config
LibraryEnterprise/EncryptionService/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
LibraryEnterprise/EncryptionService/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
LibraryEnterprise/EncryptionService/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
LibraryEnterprise/EncryptionService/obj/Debug/EncryptionService.csprojAssemblyReference.cache
LibraryEnterprise/EncryptionService/obj/Debug/EncryptionService.csproj.CoreCompileInputs.cache
LibraryEnterprise/EncryptionService/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
LibraryEnterprise/EncryptionService/EncryptionService.csproj.user
LibraryEnterprise/EncryptionService/EncryptionService.csproj
LibraryEnterprise/EncryptionService/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
LibraryEnterprise/EncryptionService/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
LibraryEnterprise/.vs/LibraryEnterprise/v15/Server/sqlite3/storage.ide-wal
LibraryEnterprise/.vs/LibraryEnterprise/v15/Server/sqlite3/storage.ide-shm
LibraryEnterprise/.vs/LibraryEnterprise/v15/Server/sqlite3/storage.ide
LibraryEnterprise/.vs/LibraryEnterprise/v15/.suo
LibraryEnterprise/.vs/config/applicationhost.config
LibraryEnterprise/.vs/LibraryEnterprise/v15/Server/sqlite3/storage.ide-wal
LibraryEnterprise/.vs/LibraryEnterprise/v15/Server/sqlite3/storage.ide-shm
LibraryEnterprise/.vs/LibraryEnterprise/v15/Server/sqlite3/storage.ide-shm
LibraryEnterprise/.vs/LibraryEnterprise/v15/Server/sqlite3/storage.ide-shm
LibraryEnterprise/.vs/LibraryEnterprise/v15/Server/sqlite3/storage.ide-shm
LibraryEnterprise/.vs/LibraryEnterprise/v15/Server/sqlite3/storage.ide-wal
LibraryEnterprise/LibraryEnterprise/obj/Debug/LibraryEnterprise.csprojAssemblyReference.cache
*.ide-shm
*.cache
*.ide-shm
*.ide-wal
LibraryEnterprise/LibraryEnterprise/obj/Debug/LibraryEnterprise.csprojAssemblyReference.cache
LibraryEnterprise/.vs/LibraryEnterprise/v15/Server/sqlite3/storage.ide-wal
LibraryEnterprise/.vs/LibraryEnterprise/v15/Server/sqlite3/storage.ide-shm
LibraryEnterprise/.vs/LibraryEnterprise/v15/Server/sqlite3/storage.ide-shm
LibraryEnterprise/.vs/LibraryEnterprise/v15/Server/sqlite3/storage.ide-wal
