/* main styling */

body {
    background-color: aliceblue;
}

.title {
    font-size: 3em;
    color: dimgrey;
    text-align: center;
}
.subtitle{
    font-size:2em;
    color:dimgrey;
    text-align:center;
}
table{
    border-color:slateblue;
}
td {
    width:30%;
}

.centerbox {
    background-color: aliceblue;
    color: black;
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    box-shadow: black 0px 5px 25px;
    align-content:center;
    align-items:center;}

#main_container {
    background-color: aliceblue;
    color: black;
    height:600px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    box-shadow: black 0px 5px 25px;
}

/* modify_books styling */

#modify_books_table {
    width: 400px;
    margin: auto;
}

#btn_search_container {
    width: 100px;
    margin: auto;
}

#gridview_container {
    width: 80%;
    height: 300px;
    overflow: scroll;
    border: 1px solid black;
    margin: auto;
}


#gridview_books {
    width: 100%;
    margin: auto;
}